.footer {
  margin: 66px auto 0;
  padding-bottom: 60px;
  max-width: 880px;
  display: flex;
  justify-content: flex-start;
}
@media screen and (max-width: 1005px) {
  .footer {
    max-width: calc((100% - 120px));
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .footer {
    max-width: calc((100% - 100px));
  }
}
@media screen and (max-width: 424px) {
  .footer {
    margin-top: 48px;
    max-width: calc((100% - 38px));
    padding-bottom: 36px;
  }
}
